{% extends "base.html" %}
{% block title %} Login to EventFull {% endblock %}

{% block content %}
<form method="POST">
    <br/>
    <br/>
    <div align="center">
    <div style="width: 600px; padding: 40px; border: 2px solid #ccc; border-radius: 10px;">
        <h1 align="center"
            style="font-size: 45px">
            <br/>
            <em>eventFull</em> Login
        </h1>
        <br/>
        <div class="form-group">
            <div class="form-group row justify-content-center">
                <div class="col-sm-12">
                    <label for="email" style="font-size: 25px"><strong>Email Address</strong></label>
                    <input
                        type="text"
                        id="email"
                        name="email"
                        class="form-control"
                        placeholder="Enter Email"
                        style="width:400px; font-size: 22px"
                    />
                </div>
            </div>
            <br/>
            <div class="form-group row justify-content-center">
                <div class="col-sm-12">
                    <label for="password" style="font-size: 25px"><strong>Password</strong></label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter Password"
                        style="width: 400px; font-size: 22px"
                    />
                </div>
            <div/>
            <br/>
            <div align="center">
                <button
                    class="btn btn-primary"
                    type="submit"
                    style="font-family: Avenir; background-color: #191970; border-color: #191970; width: 150px"
                ><strong>LOGIN</strong>
                </button>
                <span style="margin: 0 10px;">or</span>
                <a href="{{url_for('auth.sign_up')}}">sign up</a>
            </div>
            </div>
        </div>
        </div>
        </div>
</form>
{% endblock %}